.body {
    font-family: 'Khand', sans-serif;
    background-color: #000000;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

html{
    scroll-behavior: smooth;
}

.navbar {
    border-bottom: 2px solid #000;
    box-shadow: 0px 4px 2px -2px gray;
    padding: 1rem;
}

.navbar-brand {
    color: #000000;
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar-nav .nav-link {
    font-family: 'Khand', sans-serif !important;
    color: #000000;
    margin-right: 1rem;
    transition: color 0.3s;
}

.navbar-nav .nav-link:hover {
    color: #ffd500;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.nav-link.active {
    font-weight: bold;
}

.nav-link.disabled {
    opacity: 0.5;
    pointer-events: none;
}
.container {
    margin-top: 20px;
}
.header {
    text-align: center;
    margin-bottom: 20px;
}
.header h1 {
    font-family: 'Alfa Slab One', cursive;
    font-size: 3rem;
    margin-bottom: 10px;
}
.card {
    margin-bottom: 20px;
}
.btn-gold {
    font-family: 'Alfa Slab One' !important;
    background-color: #FFD700 !important;
    border: none;
    color: black;
    transition: background-color 0.3s ease-in-out;
    font-weight: 500 !important;
}
.btn-gold:hover {
    background-color: #e6c200;
}

.TakerBooky {
    display: flex;
    justify-content: center; /* Horizontal centering */
    align-items: center; /* Vertical centering */
    height: 100%; /* Ensure the div takes up its container's height */
}

.container {
    margin-top: 20px;
  }
  
  .booking-form {
    background-color: #000000;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: auto;
  }
  
  .booking-form h1 {
    font-family: "Alfa Slab One", serif;
    font-size: 2.5rem;
    color: #ffffff;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .booking-form p {
    font-size: 1rem;
    color: #ffffff;
    text-align: center;
    margin-bottom: 30px;
  }
  
  .booking-form .form-group {
    margin-bottom: 20px;
  }
  
  .booking-form label {
    font-size: 1.1rem;
    color: #ffffff;
    margin-bottom: 5px;
    display: block;
  }
  
  .booking-form .form-control,
  .booking-form .form-select {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1rem;
  }
  
  .booking-form .btn-gold {
    align-items: center;
    background-color: #FFD700;
    border: none;
    color: black;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 10px 20px;
    text-transform: uppercase;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .booking-form .btn-gold:hover {
    background-color: #e6c200;
  }
 

footer {
    background-color: #000;
    padding: 20px;
    color: #ccc;
    text-align: center;
}

footer p {
    font-family: "Alfa Slab One", serif;
    font-size: 0.8rem;
    margin-bottom: 10px;
}

footer .social-media {
    padding: 0;
    margin: 0;
}

footer .social-media li {
    display: inline-block;
    margin-right: 10px;
}

footer .social-media li a {
    color: inherit;
}

footer .social-media li a:hover {
    text-decoration: none;
    color: #000;
}
